.checkoutMyProduct {
    padding: 20px;
    display: flex;
    margin-right: 500px;
}

.checkoutMyProduct_image {
    height: 180px;
    width: 150px;
    padding-left: 12px;
    padding-right: 20px;
}