.Navheader {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_log{
    width: 100px;
    margin-right: 20px;
}

.Nav_header_search {
    display: flex;
    flex: 1;
}

.Navheader_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.my_header_searchicon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header_Nav {
    display: flex;
    justify-content: space-evenly;
}

.header_link {
    color: white;
    text-decoration: none;

}

.nav_header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header_optionLine_One {
    font-size: 10px;
}

.header_optionLine_Two {
    font-size: 13px;
    font-weight: 800;
}

.Nav_header_optionBasket {
    display: flex;
    color: white;
    align-items: center;
}

.header_basket_Count {
    margin: 0 10px 0 10px;
}