.product {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
    font-weight: 900;
}

.product_price {
    margin-top: 5px;
}

.product_rating {
    display: flex;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background-color: #f0c14b;
    border: 1px solid;

}