.My_Product_subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
}

.checkout_button {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    background-color: #FFD814;
    color: black;
    border: 1px solid #FFD814;
    border-radius: 12px;
    margin-top: 10px;
}